{
  "Profiles": [
    {
      "Name": "beacon-drifted",
      "Guid": "ec2933e2-0e56-4d96-9a63-245d5ec70004",
      "Dynamic Profile Parent Name": "beacon",
      "Tags": ["beacon", "beacon-state"],
      "Badge Color": {
        "Color Space": "sRGB",
        "Alpha Component": 0.45,
        "Red Component":   0.545,
        "Green Component": 0.914,
        "Blue Component":  0.992
      },
      "Tab Color": {
        "Color Space": "sRGB",
        "Alpha Component": 1.0,
        "Red Component":   0.545,
        "Green Component": 0.914,
        "Blue Component":  0.992
      }
    }
  ]
}
